.mt {
  margin-top: 60px;
}
a {
  text-decoration: none;
}
.show {
  border: 0px solid gray;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  margin-top: 60px;
  border-radius: 2%;
  text-align: center;
  box-shadow: 40%;
  position: relative;
}

.add {
  display: grid;
  text-align: center;
  border-style: none;
  background-color: white;
  text-decoration: none;
  overflow: auto;
  border: 40px;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
p {
  text-decoration: none;
}
.dlt {
  background-color: #1362ee;
  border: 0;
  width: 75px;
  cursor: pointer;
  box-shadow: 20%;
}
.dlt:hover {
  background-color: red;
}
.available {
  display: flex;
  margin-left: 45%;
  margin-top: 20px;
}

.edt {
  cursor: pointer;
  box-shadow: 20%;
  margin-left: 80px;
}
.edt:hover {
  color: aqua;
}

.edit_product {
  text-align: center;
}

.button-text {
  flex: 0 0 130px;
}
.add_product {
  height: 20px;
  width: 10%;
  border: 0;
  border-radius: 8%;
  box-shadow: 5rem;
  background-color: #1362ee;
  align-items: center;
  cursor: pointer;
}

.input {
  border: 0;
  background-color: white;
  height: 25px;
  border-radius: 8%;
}

.animation {
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
}

.can {
  overflow: hidden;
  position: relative;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #ffffff;
}

.lid {
  position: absolute;
  top: 20px;
  left: 50px;
  translate: -50% 0;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
.paper-wrapper,
.shradded-wrapper {
  overflow: hidden;
  position: absolute;
  display: flex;
  top: -20px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 64px;
}
.paper-wrapper {
  height: 40px;
}

.shradded-wrapper {
  top: 24px;
  height: 20px;
  justify-content: center;
}
.paper,
.shredded {
  display: block;
  background: #ffffff;
  height: 20px;
}
.paper {
  width: 10px;
}
.shredded {
  margin-top: -40px;
  width: 2px;
}
.shredded::before,
.shredded::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: inherit;
  height: inherit;
  background: inherit;
}

.shredded::before {
  left: -4px;
}
.shredded::after {
  right: -4px;
}
@keyframes fill {
  0%,
  20% {
    translate: 0 0;
  }
  40%,
  70% {
    translate: 0 -50%;
  }
  90%,
  100% {
    translate: 0, -100%;
  }
}

.filter {
  position: absolute;
  top: 100%;
  left: 50px;
  margin-left: -32px;
  width: 64px;
  height: 120%;
  background: #ffffff;
}

@keyframes move {
  15%,
  100% {
    translate: 0 88px;
  }
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
button.deleting :is(.paper, .shredded) {
  animation: move 1.25s linear 2 both;
}
button.deleting .filter {
  animation: fill 2.5s both;
}
